*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #1E213A;
  --color-off-white: #E7E7EB;
  --color-gray-text: #88869D;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

main {
  background-color: #100E1D;
  display: flex;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--primary-color);
  flex: 1;
  position: relative;

  @media only screen and (max-width: 600px) {
    flex: none;
  }
}

.sidebar-top {
  display: flex;
  margin: 4.2rem 4.6rem 2rem 4.6rem;
  justify-content: space-between;
  align-items: center;
  color: var(--color-off-white);

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 2.5rem 0;
  }

  &__search,
  &__current-location {
    background-color: #6E707A;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: var(--color-off-white);
      color: #6E707A;
    }
  }

  &__search {
    padding: 1rem 1.8rem;
    font-size: 1.6rem;
  }

  &__current-location {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
  }
}

.sidebar-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37.5rem;
  width: 100%;
  position: relative;
  margin-bottom: 3rem;

  @media only screen and (max-width: 600px) {
    height: 32.6rem;
  }

  &::after {
    content: "";
    background-image: url("./../../img/Cloud-background.png");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }
}

.temperature-details {
  display: flex;
  flex-direction: column;
  gap: 8.7rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8.7rem;

  @media only screen and (max-width: 600px) {
    gap: 2.3rem;
    margin-bottom: 4.8rem;
  }

  .current-temperature {
    color: var(--color-off-white);
    font-size: 14.4rem;

    p {
      display: inline;
    }

    span {
      color: #A09FB1;
      font-size: 4.8rem;
    }
  }

  .current-weather {
    color: #A09FB1;
    font-size: 3.6rem;
    text-transform: capitalize;
  }
}

.other-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-gray-text);
  font-size: 1.8rem;
  gap: 3.2rem;
  margin-bottom: 5.2rem;

  @media only screen and (max-width: 600px) {
    margin-bottom: 10.5rem;
  }

  .current-time {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
  }

  .current-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .9rem;

    p {
      display: inline;
    }
  }
}

.searchbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: var(--primary-color);
}

.searchbar-close {
  margin: 2rem 5.3rem 4.5rem;
  font-size: 1.8rem;
  text-align: right;
  color: var(--color-off-white);
  cursor: pointer;

  @media only screen and (max-width: 600px) {
    margin: 1.8rem 1.8rem 3rem;
  }
}

.searchbar-top {
  margin: 0 4.6rem 5.8rem;
  display: flex;
  gap: 1.2rem;

  @media only screen and (max-width: 600px) {
    @media only screen and (max-width: 600px) {
      margin: 0 1.2rem 3.8rem;
    }
  }

  &__input {
    flex: 1;
    overflow: hidden;
    position: relative;

    input {
      width: 100%;
      background-color: transparent;
      border: 1px solid var(--color-off-white);
      padding: 1.5rem;
      font-size: 1.6rem;
      color: var(--color-off-white);

      &:focus + label {
        display: none;
      }
    }

    label {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      color: #616475;

      &::after {
        content: "search location";
        width: max-content;
        font-size: 1.6rem;
        color: #616475;
        position: absolute;
        z-index: 500;
        top: 0;
        left: 3.5rem;
      }

      span {
        font-size: 2rem;
      }

    }
  }

  &__button {
    padding: 1.5rem;
    color: var(--color-off-white);
    background-color: #3C47E9;
    border: none;
    flex-shrink: 0;
    font-size: 1.6rem;
    cursor: pointer;
  }
}

.previous-searches {
  &--list {
    margin: 0 4.6rem;
    list-style: none;
    color: var(--color-off-white);

    @media only screen and (max-width: 600px) {
      margin: 0 1.2rem;
    }
  }

  &--item {
    padding: 2.3rem 1.2rem;
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    transition: all .3s;

    p {
      text-transform: capitalize;
    }

    span {
      color: #616475;
      text-align: right;
      opacity: 0;

      transition: all .3s;
    }

    &:hover {
      border: 1px solid #616475;

      span {
        opacity: 1;
      }
    }
  }
}

.content {
  flex: 2.2;
  padding: 4.2rem 13.5rem 2.5rem;

  @media only screen and (max-width: 600px) {
    padding: 5.2rem 2.4rem 2.4rem;
  }
}

.unit-toggle {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;

  @media only screen and (max-width: 600px) {
    display: none;
  }

  &__temp {
    color: var(--color-off-white);
    height: 4rem;
    width: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 50%;
    background-color: #585676;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      background-color: var(--color-off-white);
      color: #110E3C;
    }
  }
}

.future-temperatures {
  margin-top: 6.6rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-auto-rows: 17.7rem;
  gap: 2.6rem;

  &__day {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    gap: 1rem;
  }

  &__date {
    color: var(--color-off-white);
    font-size: 1.6rem;
    align-self: center;
  }

  &__illustration {
    background-image: url("../../img/Clear.png");
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__temperatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.6rem;

    &--high {
      color: var(--color-off-white);
    }

    &--low {
      color: var(--color-gray-text);
    }
  }
}

.day-highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: 20.4rem 15.9rem;
  gap: 4.8rem;

  @media only screen and (max-width: 1213px) {
    grid-template-rows: repeat(2, 20.4rem);
    grid-auto-rows: 15.9rem;
  }

  &__section {
    background-color: var(--primary-color);
    color: var(--color-off-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    //justify-content: space-between;
    align-items: center;
    padding: 2.2rem 5rem 3.5rem;
  }

  &__wind {
    &--direction {
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      font-size: 1.4rem;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        font-size: 1.5rem;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        transform: rotate(315deg);
        transition: all .5s;
      }
    }
  }

  &__humidity {
    &__progress-bar {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      gap: .2rem;

      &--values,
      &--symbol {
        font-size: 1.2rem;
        font-weight: 700;
        color: #A097B1;
      }

      &--outer-bar,
      &--inner-bar {
        background-color: var(--color-off-white);
        border-radius: 100rem;
        height: .8rem;
      }

      &--inner-bar {
        background-color: #FFEC65;
        width: 0;
        transition: all 2s;
      }

      &--values {
        display: flex;
        justify-content: space-between;
      }

      &--symbol {
        align-self: flex-end;
      }
    }
  }

  &--value {
    font-size: 6.4rem;
    font-weight: 700;
  }

  &--unit {
    font-size: 3.6rem;
    font-weight: 500;
  }

  &--title {
    font-size: 1.6rem;
    text-transform: capitalize;
  }

  &--heading {
    color: var(--color-off-white);
    font-size: 2.4rem;
    font-weight: 700;
    margin: 7.2rem 0 3.2rem;

    @media only screen and (max-width: 600px) {
      margin-top: 5.1rem;
    }
  }
}

.footer-note {
  text-align: center;
  margin-top: 11rem;
  font-size: 1.4rem;
  color: #A09FB1;

  a,
  a:link,
  a:visited {
    color: #A09FB1;
    font-weight: 700;
  }
}

.spinner {
  background-color: #100E1D;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25rem;
  padding-bottom: 50rem;

  &__inner {
    width: 5rem;
    height: 5rem;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #FFF;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}